<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <% include navbar-header %>
    <% include navbar-toggle %>
    <% include navbar-nav %>
    <% include navbar-right %>
    <% include navbar-default %>
</nav>